In [1]:
import numpy as np
import pandas as pd

In [2]:
text=pd.read_csv('Sharktankpitchesdeals.csv')

In [3]:
text.head()

,Season_Epi_code,Pitched_Business_Identifier,Pitched_Business_Desc,Deal_Status,Deal_Shark
0,826,Bridal Buddy,a functional slip worn under a wedding gown th...,1,KOL+LG
1,826,Laid Brand,hair-care products made with pheromones . Laid...,0,NaN
2,826,Rocketbook,a notebook that can scan contents to cloud ser...,0,NaN
3,826,Wine & Design,painting classes with wine served . Wine & Des...,1,KOL
4,824,Peoples Design,a mixing bowl with a built-in scoop . Peoples ...,1,LG

In [4]:
text.drop(['Season_Epi_code','Pitched_Business_Identifier','Deal_Shark'],axis=1,inplace=True)

In [5]:
text.head()

                               Pitched_Business_Desc  Deal_Status
0  a functional slip worn under a wedding gown th...            1
1  hair-care products made with pheromones . Laid...            0
2  a notebook that can scan contents to cloud ser...            0
3  painting classes with wine served . Wine & Des...            1
4  a mixing bowl with a built-in scoop . Peoples ...            1

# 1- Basic feature extraction using text-data:

# 1-a.   Number of words:

In [6]:
text['word_count']=text['Pitched_Business_Desc'].apply(lambda x:len(str(x).split(" ")))

In [7]:
text[['Pitched_Business_Desc','word_count']].head()

                               Pitched_Business_Desc  word_count
0  a functional slip worn under a wedding gown th...          58
1  hair-care products made with pheromones . Laid...          31
2  a notebook that can scan contents to cloud ser...          71
3  painting classes with wine served . Wine & Des...          37
4  a mixing bowl with a built-in scoop . Peoples ...          43

# 1-b. Number of charecters:

In [8]:
text['char_count']=text['Pitched_Business_Desc'].str.len()

In [9]:
text[['Pitched_Business_Desc','char_count']].head()

                               Pitched_Business_Desc  char_count
0  a functional slip worn under a wedding gown th...         310
1  hair-care products made with pheromones . Laid...         233
2  a notebook that can scan contents to cloud ser...         397
3  painting classes with wine served . Wine & Des...         245
4  a mixing bowl with a built-in scoop . Peoples ...         284

# 1-c. Average word length:

In [10]:
# making the function calculating the average word lenght:
def avg_word_len(sentence):
    # first we split the whole sentences the word:
    words=sentence.split(" ")
    # then calculate the sum of each words in sentences:
    avg=np.sum(len(word) for word in words)
    return avg/len(words)

In [11]:
text['avg_word_len']=text['Pitched_Business_Desc'].apply(lambda x:avg_word_len(x))

/home/dell/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.

In [12]:
text[['Pitched_Business_Desc','avg_word_len']].head()

                               Pitched_Business_Desc  avg_word_len
0  a functional slip worn under a wedding gown th...      4.362069
1  hair-care products made with pheromones . Laid...      6.548387
2  a notebook that can scan contents to cloud ser...      4.605634
3  painting classes with wine served . Wine & Des...      5.648649
4  a mixing bowl with a built-in scoop . Peoples ...      5.627907

# 1-d. Number of stopwords:

In [13]:
from nltk.corpus import stopwords
# taking all stops word from the nltk corpus:
stop=stopwords.words('english')

text['stopwords']=text['Pitched_Business_Desc'].apply(lambda x:len([x for x in x.split() if x in stop]))

In [14]:
text[['Pitched_Business_Desc','stopwords']].head()

                               Pitched_Business_Desc  stopwords
0  a functional slip worn under a wedding gown th...         25
1  hair-care products made with pheromones . Laid...          7
2  a notebook that can scan contents to cloud ser...         31
3  painting classes with wine served . Wine & Des...         12
4  a mixing bowl with a built-in scoop . Peoples ...         12

# 1-e. Number of sepcial charactors:

In [15]:
text['hastag']=text['Pitched_Business_Desc'].apply(lambda x:len([x for x in x.split() if x.startswith('&')]))

In [16]:
text[['Pitched_Business_Desc','hastag']].head()

                               Pitched_Business_Desc  hastag
0  a functional slip worn under a wedding gown th...       0
1  hair-care products made with pheromones . Laid...       0
2  a notebook that can scan contents to cloud ser...       0
3  painting classes with wine served . Wine & Des...       1
4  a mixing bowl with a built-in scoop . Peoples ...       0

# 1-f. Number of numerics:

In [17]:
text['numerics']=text['Pitched_Business_Desc'].apply(lambda x:len([x for x in x.split() if x.isdigit()]))

In [18]:
text[['Pitched_Business_Desc','numerics']].head() # i thik no word which conating the digit:

                               Pitched_Business_Desc  numerics
0  a functional slip worn under a wedding gown th...         0
1  hair-care products made with pheromones . Laid...         0
2  a notebook that can scan contents to cloud ser...         0
3  painting classes with wine served . Wine & Des...         0
4  a mixing bowl with a built-in scoop . Peoples ...         0

# 1-g. Number of Uppercase word:

In [19]:
text['uppercase word']=text['Pitched_Business_Desc'].apply(lambda x:len([x for x in x.split() if x.isupper()]))

In [20]:
text[['Pitched_Business_Desc','uppercase word']].head()

                               Pitched_Business_Desc  uppercase word
0  a functional slip worn under a wedding gown th...               0
1  hair-care products made with pheromones . Laid...               1
2  a notebook that can scan contents to cloud ser...               0
3  painting classes with wine served . Wine & Des...               0
4  a mixing bowl with a built-in scoop . Peoples ...               0

# 2- Basic Data-preprocessing:

# 2-a. Lower case:

In [21]:
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [22]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  a functional slip worn under a wedding gown th...
1  hair-care products made with pheromones . laid...
2  a notebook that can scan contents to cloud ser...
3  painting classes with wine served . wine & des...
4  a mixing bowl with a built-in scoop . peoples ...

# 2-b. removing punctuation:

In [23]:
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'].str.replace('[^\w\s]','')

In [24]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  a functional slip worn under a wedding gown th...
1  haircare products made with pheromones  laid b...
2  a notebook that can scan contents to cloud ser...
3  painting classes with wine served  wine  desig...
4  a mixing bowl with a builtin scoop  peoples de...

# 2-c. removing stopwords:

In [25]:
stop=stopwords.words()
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))

In [26]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  functional slip worn wedding gown allows weare...
1  haircare products made pheromones laid brand â...
2  notebook scan contents cloud services via app ...
3  painting classes wine served wine design provi...
4  mixing bowl builtin scoop peoples designs scoo...

# 2-d. common word removal:

In [27]:
# first count the most frequent word: 
freq_count=pd.Series(" ".join(text['Pitched_Business_Desc']).split()).value_counts()[:10]

In [28]:
#freq_count[:4]

In [29]:
freq=list(freq_count.index)

In [30]:
# now remove from the text['Pictched_Business_Desc']
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))

In [31]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  functional slip worn wedding gown allows weare...
1  haircare pheromones laid brand pheromoneenrich...
2  notebook scan contents cloud services via eras...
3  painting classes wine served wine design provi...
4  mixing bowl builtin scoop peoples designs scoo...

# 2-e. rare word removal:

In [32]:
freq_count=pd.Series(" ".join(text['Pitched_Business_Desc']).split()).value_counts()[-10:]

In [33]:
freq=list(freq_count.index)

In [34]:
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))

In [35]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  functional slip worn wedding gown allows weare...
1  haircare pheromones laid brand pheromoneenrich...
2  notebook scan contents cloud services via eras...
3  painting classes wine served wine design provi...
4  mixing bowl builtin scoop peoples designs scoo...

# 2-f. Spelling correction:

In [36]:
#from textblob import TextBlob

In [37]:
# its computing very high so we take only 4 column from the top:
#text['Pitched_Business_Desc']=text['Pitched_Business_Desc'][:4].apply(lambda x:str(TextBlob(x).correct()))

In [38]:
#text[['Pitched_Business_Desc']].head()

# 2-g. Tokenization:

In [39]:
# method 1----->

from textblob import TextBlob

TextBlob(text['Pitched_Business_Desc'][1]).words

WordList(['haircare', 'pheromones', 'laid', 'brand', 'pheromoneenriched', 'hair', 'product', 'thatâ', 'enhances', 'color', 'addition', 'protecting', 'hydrating', 'hairâ', 'pheromones', 'help', 'girls', 'âœexude', 'confidenceâ', 'wherever', 'goes'])

In [60]:
# method 2--->
from nltk import word_tokenize

In [66]:
np.array(word_tokenize(text['Pitched_Business_Desc'][1]))

array(['haircar', 'pheromon', 'laid', 'brand', 'pheromoneenrich', 'hair',
       'product', 'thatâ', 'enhanc', 'color', 'addit', 'protect',
       'hydrat', 'hairâ', 'pheromon', 'help', 'girl', 'âœexud',
       'confidenceâ', 'wherev', 'go'], dtype='<U15')

# token

# 2-h. Stemming:

In [57]:
from nltk.stem import PorterStemmer
stp=PorterStemmer()

In [58]:
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'][:5].apply(lambda x:" ".join([stp.stem(word) for word in x.split()]))

In [59]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  function slip worn wed gown allow wearer use r...
1  haircar pheromon laid brand pheromoneenrich ha...
2  notebook scan content cloud servic via eras mi...
3  paint class wine serv wine design provid space...
4  mix bowl builtin scoop peopl design scoop bowl...

# 2-i. Lemmatization:

In [54]:
# method---1:
from textblob import Word

In [55]:
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'][:5].apply(lambda x:" ".join([Word(word) for word in x.split()]))

In [56]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  functional slip worn wedding gown allows weare...
1  haircare pheromone laid brand pheromoneenriche...
2  notebook scan content cloud service via erased...
3  painting class wine served wine design provide...
4  mixing bowl builtin scoop people design scoopi...

In [51]:
#method--->2:
from nltk.stem import WordNetLemmatizer
lem=WordNetLemmatizer()

In [52]:
text['Pitched_Business_Desc']=text['Pitched_Business_Desc'].apply(lambda x:" ".join([lem.lemmatize(word) for word in x.split()]))

In [53]:
text[['Pitched_Business_Desc']].head()

                               Pitched_Business_Desc
0  functional slip worn wedding gown allows weare...
1  haircare pheromone laid brand pheromoneenriche...
2  notebook scan content cloud service via erased...
3  painting class wine served wine design provide...
4  mixing bowl builtin scoop people design scoopi...